body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
    text-align: center;
}

*,
::before,
::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background: url('../img/banner.png') center no-repeat;
    text-align: center;
}

.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 200px auto 0;
    text-align: center;
}

.intro_suptitle {
    margin-bottom: 20px;
    font-size: 72px;
    font-family: 'Kaushan Script', cursive;
    color: #fff;
}

.intro_title {
    color: #fff;
    font-size: 150px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.intro_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #fff;
    margin: 60px auto;
}

header {
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 14px;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;

    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    position: relative;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.nav_link:hover::after,
.nav_link.active::after {
    opacity: 1;
}

.nav_link.active {
    color: #fce38a;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: 3px #fff solid;
    padding: 8px 30px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    transition: color 0.2s linear;
}

.btn:hover {
    background-color: #fff;
    color: #f38181;
}

.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
}

.slider_item {
    padding: 20px 0;
    width: 24%;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    border-top: 3px #fff solid;
    opacity: 0.7;
    position: relative;
}

.slider_item.active {
    opacity: 1;
}

.slider_item.active::before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider_number {
    font-size: 24px;
    font-weight: 700;
}

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
}

.section_suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section_title::after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 40px auto 30px;
}

.section_text {
    font-size: 15px;
    color: #999;
}

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 390px;
    height: 259px;
    background-color: #95e1d3;
    position: relative;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
    opacity: 0.1;
}

.about_item:hover .about_text {
    opacity: 1;
}

.about_img {
    background: linear-gradient(to bottom, #f38181, #fce38a);
    transition: transform 0.2s linear;
}

.about_img img {
    width: 390px;
    height: 259px;
    transition: opacity 0.2s;
    display: block;
}

.about_text {
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.statistics {
    background-color: #95e1d3;
}

.stat {display: flex;}

.stat_item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px #b5eae0 solid;
    color: #fff;
}

.stat_item:last-child {
    border-right: 1px #b5eae0 solid;
}

.stat_count {
    font-size: 72px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1;
}

.stat_text {
    font-size: 14px;
    text-transform: uppercase;
}

.services {
    display: flex;
    text-align: left;
}

.services_item {
    flex: 1 1 0;
    position: relative;
}

.services_icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.services_title {
    margin-top: -40px;
    margin-bottom: 10px;
    padding-left: 60px;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.services_text {
    width: 330px;
    font-size: 15px;
    color: #999;
    margin-left: 60px;
}

.services_line {
    margin: 50px 0;
    opacity: 0.4;
}

.section__devices {
    position: relative;
    height: 831px;
    margin-bottom: 40px;
}

.devices_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/design/Layer\ 45.png') center no-repeat;
    background-size: cover;
    opacity: 0.3;
}

.section__devices .container {
    position: relative;
    z-index: 1;
}

.devices {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
}

.devices_item {
    display: block;
}

.iphone {
    position: absolute;
    bottom: -90px;
    right: 0;
    z-index: 1;
}

.wedo {
    display: flex;
}

.wedo_item {
    width: 50%;
    text-align: left;
}

.accordion_item,
.accordion_header {
    border: 1px #e5e5e5 solid;
}

.accordion_item {
    margin-bottom: 10px;
}

.accordion_item.active
.accordion_content {
    display: block;
}

.accordion_header {
    padding: 15px 20px 15px 60px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

.accordion_item.active
.accordion_header::after {
    top: 25px;
    transform: translateY(-50%) rotate(135deg);
}

.accordion_header::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top:   1px #ccc solid;
    border-right: 1px #ccc solid;
    position: absolute;
    top: 33px;
    right: 20px;
    z-index: 1;
    transform: translateY(-50%) rotate(-45deg);
}

.accordion_icon {
    position: absolute;
    top: 30px;
    left: 20px;
    transform: translateY(-50%);
    z-index: 1;
}

.accordion_content {
    padding: 5px 20px;
    font-size: 15px;
    color: #999;
    font-style: italic;
    font-weight: 300;
    display: none;
}

.section_slider {
    background-color: #f8f8f8;
}

.reviews {
    padding: 70px 110px;
    position: relative;
}

.reviwes_photo {
    margin-right: 60px;
    width: 145px;
    height: 145px;
    border: 3px #95e1d3 solid;
}

.reviwes_item {
    display: flex;
}

.reviwes_photo img {
    margin-top: 30%;
}

.reviwes_text {
    margin-bottom: 15px;
    width: 769px;
    font-size: 24px;
    font-style: italic;
    color: #999;
}

.reviwes_content {
    text-align: left;
}

.reviwes_autor {
    font-size: 24px;
    color: #333;
    font-family: 'Kaushan Script', cursive;
}

.reviwes_autor::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;
    background-color: #f38181;
}

.reviwes_btn {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}

.reviwes_btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 1px #ccc solid;
    border-left: 1px #ccc solid;
    top: 33px;
    right: 20px;
    z-index: 1;
}

.reviwes_btn--prev {
    left: 0;
    transform: rotate(-45deg);
}

.reviwes_btn--next {
    right: 0;
    transform: rotate(135deg);
}